@import "../fonts.scss";

// Mixins
@mixin lineStyle() {
  @media (min-width: 768px) and (max-width: 1023px) {
    height: 20px * 9 + 7px * 8;
    margin-left: 20px - 2.5px;
    margin-top: 20px * 2;
  }
  @media (min-width: 1024px) {
    height: 30px * 9 + 10px * 8;
    margin-left: 30px - 2.5px;
    margin-top: 30px * 2;
  }
}

@mixin circleStyle() {
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 20px * 2;
    height: 20px * 2;
    margin-top: 20px;
    margin-right: 20px;
  }
  @media (min-width: 1024px) {
    width: 30px * 2;
    height: 30px * 2;
    margin-top: 30px;
    margin-right: 30px;
  }
}

@mixin fontSize() {
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 30px;
  }
}

@mixin containerWidth() {
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 200px;
  }
  @media (min-width: 1024px) {
    width: 300px;
  }
}

@mixin containerStyle() {
  @include fontSize;
  @include containerWidth;
  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  @media (min-width: 1024px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


// Styling
.container {
  @include containerWidth;
  position: absolute;
}
.selected {
  @include containerStyle;
  background: #282828;
  border-radius: 20px;
  color: white;
  font-family: "Roxborough";
  font-weight: bold;
  position: relative;
  text-align: center;
}

.nonselected {
  @include containerStyle;
  font-family: "Adelle";
  position: relative;
}

.circle {
  @include circleStyle;
  background: #b8b3b3;
  border-radius: 50%;
  float: left;
}
.line {
  @include lineStyle;
  width: 5px;
  background: #b8b3b3;
  position: absolute;

}

.link {
  text-decoration: none;
  color: #282828;
}