@import "./fonts.scss";
.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 33.33%;
  height: 200px;
}

.column2 {
  float: left;
  width: 66.66%;
  height: 200px;
}

.desc {
  @media (max-width: 1023px) {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    font-size: 20px;
  }
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-family: Adelle;
}

.globe {
  @media (max-width: 1023px) {
    width: 70px;
  }
  @media (min-width: 1024px) {
    width: 100px;
  }
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title {
  font-family: Roxborough;
  font-style: italic;
  font-size: 70px;
  line-height: 0px;
  padding-bottom: 3%;
}

#title {
  text-decoration: none;
  color: inherit;
}

#titleContainer {
  margin-bottom: 4%;
}

.left-content {
  margin-left: 3%;
}
