@import "./fonts.scss";

.background {
  background-color: white;
  width: 70%;
  margin-bottom: 30px;
}

.top {
  display: flex;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  @media (min-width: 400px) and (max-width: 1023px) {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    font-size: 20px;
  }
  font-size: 12px;
  display: flex;
  color: white;
  font-family: "Roxborough";
  padding-left: 10px;
  display: inline-block;
}

.cardDesc {
  @media (min-width: 400px) and (max-width: 1023px) {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    font-size: 20px;
  }
  font-size: 10px;
  white-space: pre-line;

}

.top img {
  @media (min-width: 400px) and (max-width: 1023px) {
    width: 50px;
  }
  @media (min-width: 1024px) {
    width: 70px;
  }
  width: 40px;
  padding-right: 10px;
}

.bottom {
  padding: 10px;
  padding-top: 0px;
  font-family: "Adelle";
}

.bottomText {
  color: gray;
  font-size: 14px;
}

.rowImg:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  width: min(35vw, 70vh);
  height: min(35vw, 70vh);
  background-color: #ebe7e4;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(25%);
}

.modal:focus {
  outline: none;
}

.x {
  font-family: "Adelle";
  font-weight: bold;
  font-size: 2vw;
  float: right;
  padding-right: 2vw;
  display: "inline-flex";
  cursor: pointer;
}
