@import "./fonts.scss";

.background {
  background-color: white;
  width: 70%;
}

.top {
  display: flex;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
}

.top p {
  display: flex;
  font-size: 20px;
  color: white;
  font-family: "Roxborough";
  padding-left: 10px;
  display: inline-block;
}

.top img {
  width: 70px;
  padding-right: 10px;
}

.bottom {
  padding: 10px;
  padding-top: 0px;
  font-family: "Adelle";
}

.rowImg:after {
  content: "";
  display: table;
  clear: both;
}

.columnImg {
  float: left;
  width: 10%;
  padding-right: 2%;
}

.modal {
  width: 600px;
  height: 600px;
  background-color: #ebe7e4;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(30%);
}

.modal:focus {
  outline: none;
}
