@font-face {
    font-family: 'Roxborough';
    src: url('./fonts/Roxborough/RoxboroughCF-Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Roxborough';
    src: url('./fonts/Roxborough/RoxboroughCF-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Adelle';
    src: url('./fonts/Adelle/AdelleSansEXT-Regular.ttf') format('truetype');
}