@import "./fonts.scss";

.hamburger-btn {
  width: 6vw;
  margin-left: 15px;
  cursor: pointer;
}

.bm-menu-wrap {
  position: fixed;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item {
  display: inline-block;
  color: #ebe7e4;
  font-family: "Adelle";
  margin-bottom: 12px;
  padding: 10px;
  text-decoration: none;
  outline: none;
}

.selected-bm-item {
  color: white;
  background: #282828;
  border-radius: 10px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #ebe7e4;
}
