@import "./fonts.scss";

$bgColor: #EBE7E4;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: $bgColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#titleContainer {
  text-align: center;
}

#title {
 font-size: 60px;

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 100px;
  
  }

  @media only screen and (min-width: 1024px) {
    font-size: 120px;
  }

  font-family: "Playfair Display";
  font-weight: 600;
  letter-spacing: .1rem;
  background-color: #00000000;
  border-width: 0px;
  font-style: italic;
}
