// Mixins
@mixin textStyle() {
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    padding: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 30px;
  }
  line-height: 0px;
  font-size: 12px;
  font-family: "Geist Sans";
  font-weight: bold;
  display: inline-flex;
}

.modal {
  padding: 15px;
  padding-top: 0px;
  width: fit-content;
  background-color: #ebe7e4;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(2%);
  box-shadow: 5px 5px 10px 1px darkgray;
}

.modal:focus {
  outline: none;
}

.modalText {
  @include textStyle;
}

.x {
  @include textStyle;
  float: right;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.displayImg-height {
  @media (min-width: 768px) and (max-width: 1023px) {
    height: 300px;
  }
  @media (min-width: 1024px) {
    height: 500px;
  }
  height: 200px;
  border-radius: 20px;
}

.displayImg-width {
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 300px;
  }
  @media (min-width: 1024px) {
    width: 500px;
  }
  width: 200px;
  border-radius: 20px;
}
