.modalTitle {
  font-family: "Adelle";
  font-weight: bold;
  font-size: 2vw;
  padding-left: 2vw;
  display: inline-flex;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.displayImg {
  width: 50%;
}
