@mixin preview() {
  float: left;
  padding-right: 2%;
  cursor: pointer;
}

.preview {
  @include preview;
  width: 10%;
}

.smallerPreview {
  @include preview;
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 35px;
  }
  @media (min-width: 1024px) {
    width: 50px;
  }
  width: 40px;
}
